<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>654878069390-sv9275n4eu7e73sgl2f73te16cgtnk2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654878069390-sv9275n4eu7e73sgl2f73te16cgtnk2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCb9hkClC2Tclo03rxwnMwdEI2VOYyhQu0</string>
	<key>GCM_SENDER_ID</key>
	<string>654878069390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.touchlab.ios.anon</string>
	<key>PROJECT_ID</key>
	<string>master-isotope-632</string>
	<key>STORAGE_BUCKET</key>
	<string>master-isotope-632.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:654878069390:ios:334dea006fdd7a13</string>
	<key>DATABASE_URL</key>
	<string>https://master-isotope-632.firebaseio.com</string>
</dict>
</plist>