<?xml version="1.0" encoding="utf-8"?>
<manifest package="co.touchlab.droidconandroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".DroidconApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:replace="android:icon">
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about"/>
        <activity
            android:name=".SponsorsActivity"
            android:label="@string/sponsors"/>

        <activity
            android:name=".UserDetailActivity"
            android:label="User Detail">
        </activity>

        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".ScheduleActivity"/>

        <activity android:name=".WelcomeActivity"/>

        <service
            android:name=".alerts.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_smallicon_color" />

        <receiver android:name=".alerts.AlertReceiver">
            <intent-filter>
                <action android:name="co.touchlab.droidconandroid.DISPLAY_NOTIFICATION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="90b5b9675372e1f2aff36d43ea5d6869040d37f3" />
    </application>

</manifest>